<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>STSServer1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>STSServerServlet</display-name>
    <servlet-name>STSServerServlet</servlet-name>
    <servlet-class>edu.pge_gis.pge.sts.servlet.STSServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>STSServerServlet</servlet-name>
    <url-pattern>/STSServerServlet</url-pattern>
  </servlet-mapping>
  <!-- 
<security-constraint>
    <web-resource-collection>
	<web-resource-name>All resources</web-resource-name>
	<description>Protects all resourcessssss</description>
	<url-pattern>/*</url-pattern>
    </web-resource-collection>

    <auth-constraint>
	<role-name>testUserRole</role-name>
    </auth-constraint>
</security-constraint>
   
<login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Test Realm</realm-name>
</login-config>

<security-role>
    <role-name>testUserRole</role-name>
</security-role>

 -->
</web-app>
